openai-agents~=0.0.9
httpx~=0.28.1
mcp~=1.6.0

elastic-opentelemetry~=1.0.0
# Use openai-agents instrumentation from OpenInference
openinference-instrumentation-openai-agents~=0.1.7
openinference-instrumentation-mcp @ git+https://github.com/anuraaga/openinference.git@mcp-python#subdirectory=python/instrumentation/openinference-instrumentation-mcp